.country{
	padding: 1rem;
	@media(min-width: 376px){
		padding: 2rem;
	}

	img{
		width: 100%;
	}
	h3{
		padding-top: 1rem;
		@media (min-width: 376px){
			font-size: 1rem;
		}
	}
	button{
		padding: 0.5rem 1rem;
		margin-bottom: 3rem;
		border-radius: .75rem;
		// background-color: var(--d-text);
	}
	p{
		padding: 0.2rem 0;
	}
	&-layout{
		@media(min-width: 376px){
			display: flex;
			justify-content: space-between;
			img{
				width: 40%;
				height: 50%;
			}
		}
	}
	&-detail{
		@media (min-width: 376px) {
			width: 50%;
		}
	}
	// &-info{

	// }
	&-section{
		padding: 1rem 0;
	}
	.border-countries{
		margin-bottom: 4rem;

		&-buttons{
			display: grid;
			column-gap: 0.5rem;
			row-gap: 1rem;
			grid-template-columns: repeat(3,1fr);
			grid-template-rows: 2rem;
			.button{
				text-align: center;
				line-height: 2rem;
			}
			&:hover{
				cursor: pointer;
				
			}
		}
	}

}

.button{
	border: none;
	font-size: 1rem;
}

:host-context(.dark) .button{
	border-color: var(--d-element);
	border-color: var(--d-text);
}

:host-context(.light) .button{
	border-color: var(--l-text);
}