
@use '@angular/material' as mat;

@include mat.core();

$map-primary: mat.define-palette(mat.$indigo-palette);
$map-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$map-warn: mat.define-palette(mat.$red-palette);

$map-theme: mat.define-light-theme((
  color: (
    primary: $map-primary,
    accent: $map-accent,
    warn: $map-warn,
  )
));

@include mat.all-component-themes($map-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container{
  display: block;
  max-width: 300px;
  margin: auto;
  background: #eceff1;
  padding: 48px;
  border-radius: 16px;
}

.form-container mat-form-field{
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
}

.margin-top{
  margin-top: 16px;
}

.text-center{
  text-align: center;
}

// ================================================================



:root{
	--blue-1: #3c429e;
	--blue-2: #4c52ad;
	--yellow-1: #fac742;
	--white: #fff;
	--grey-1: #ededed;
	--shadow-dark: rgba(0,0,0,0.3);
	--shadow-light: rgba(255,255,255,0.1);
}

::-webkit-scrollbar{
	appearance: none;
	width: 0;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.shadow{
	box-shadow: 0 0 6px 1px rgba(0,0,0,0.1);
}

li{
	list-style: none;
	&:hover{
		cursor: pointer;
	}
}

button:hover{
	cursor: pointer;
}

.active{
	color: #B0C6EB;
}

.container{
		padding-top: 53px;
		margin: auto;
	}

	.greeting{
		background: url('assets/world.jpg')center/cover no-repeat;
		height: 92vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 30px;
		font-weight: bold;
	}

	.loading{
		text-align: center;
		font-size: 30px;
		margin: 100px;
	}